.footer__column-links-text {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__column-links-text:hover {
  color: rgb(110, 111, 114);
}

